<footer>
  <div>App feito por <strong>Rauã Torres</strong></div>
  <div class="info-container">
    <app-footer-infoarea title="Meus links">
      <a href="https://github.com/Rauatorres/" target="_blank"><mat-icon svgIcon="github" /></a>
      <a href="https://linkedin.com/in/rauatorres/" target="_blank"
        ><mat-icon svgIcon="linkedin"
      /></a>
    </app-footer-infoarea>
    <app-footer-infoarea title="Feito com">
      <span><mat-icon svgIcon="angular" /></span> <span>Angular</span>
    </app-footer-infoarea>
  </div>
</footer>
