<footer>
  <div>App feito por <strong>Rauã Torres</strong></div>
  <div class="info-container">
    <app-footer-infoarea title="Meus links">
      <a href="https://github.com/Rauatorres/" target="_blank"><mat-icon svgIcon="github" /></a>
      <a href="https://linkedin.com/in/rauatorres/" target="_blank"
        ><mat-icon svgIcon="linkedin"
      /></a>
      <!-- <a href="https://github.com/Rauatorres/" target="_blank">
        <svg>
          <use href="/icons/github-brands-solid-full.svg"></use>
        </svg>
      </a> -->
      <!-- <a href="">linkedin</a> -->
    </app-footer-infoarea>
    <app-footer-infoarea title="Feito com">
      <span>angular</span>
    </app-footer-infoarea>
  </div>
</footer>
