<!-- <a routerLink="/home/saldo">
    <mat-icon class="icon">paid</mat-icon> -->
<!-- <mat-icon class="icon" style="margin-bottom: 0.01rem">paid</mat-icon> -->
<!-- Saldo</a
  > -->
<app-navlink url="/home/saldo" name="Saldo" icon="paid" />
<app-navlink url="/home/historico" name="Histórico" icon="history" />
<!-- <a routerLink="/home/historico"><mat-icon class="icon">history</mat-icon> Histórico</a> -->
@if (isViewportWidthLarge()) {
  <!-- <a routerLink=""><mat-icon class="icon">logout</mat-icon> Logout</a> -->
  <app-navlink url="" name="Logout" icon="logout" />
}
